@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
/*font-family: 'Mooli', sans-serif;*/

*{ border: 0;
padding: 0;
margin: 0;
outline: 0;
text-decoration: none;}

html{ font-family: 'Mooli', sans-serif; font-size: 23px;}

body{background: black url("./imagens/back-phone.jpg") no-repeat center center; background-size: cover; background-attachment: fixed; color: black;}

main{background-color:rgba(255, 255,255,0.911); text-align: center;width: 350;height:300px; margin: auto; padding:10px; border-radius: 10px;}

img{display: block; margin: auto;}

#phone {display: block;}
#table{display: none;}
#pc{display: none;}
#tv {display: none;}
#print {display: none;}
